// 颜色
$accentColor =rgb(143, 175, 62)
$textColor = #2c3e50
$borderColor =rgb(122, 122, 122)
$codeBgColor =rgb(32, 39, 54)
$arrowBgColor = #ccc
$badgeTipColor =rgb(0, 255, 208)
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 14rem
$contentWidth = 1200px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
hug
  display block
  margin 1em 0
